@import 'src/styles';

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20vh;
  width: 60vh;
  height: 30vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1vh;

  .title {
    border: 1px solid $app-theme-cyan;
    background-color: $app-theme-cyan;
    padding: 2vh;
    border-radius: 1vh 1vh 0 0;

    span {
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .content {
    text-align: center;
    margin-top: 1vh;

    mat-icon {
      $size: 4vh;
      color: $app-theme-cyan;
      font-size: $size;
      width: $size;
      height: $size;
      transform: translate(0, 30%);
      margin-right: 1vh;
    }

  }

  .button-container {
    text-align: center;
    margin-top: 3vh;
  }

}
